#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#drum-machine > div {
  padding: 2rem;
}

#display{
  display: grid;
  grid-template: 1fr / repeat(3,1fr);
  gap: 1rem;
}

.drum-pad{
  
}