#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#drum-machine > div {
  padding: 2rem;
}

#display {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

#display > div {
  border-radius: 8px;
  border: 1px solid transparent;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #1a1a1a;
}
